body {
  background-color: #e5beed;
}

.jumbotron {
  background-color: #5b507a;
  color: #e5beed;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Freckle Face', cursive;
  color: #7d5c65;
}

p {
  color: #7d5c65;
  font-size: 30px;
  font-family: 'Delius', cursive;
}

.btn {
  border-style: groove;
  border-bottom-style: solid;
  background-color: #5b618a;
  font-size: 40px;
}

#startGame, .rolledValue, .formDiv {
  display: none;
}

#columnOne {
  background-color: pink;
}

#columnTwo {
  background-color: #9eadc8;
  text-align: center;
}

.tempScore {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
  height: 30px;
  background-color: pink;
  border-radius: 5px;
}

#play, #pass {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: 0px;
}

.rolledValue {
  display: none;
}

span {
  color: #5b618a;
  font-family: 'Delius', cursive;
  font-weight: bold;
}
